<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

	@Styles.Render("~/Content/DevExtremeBundle")
	
	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/Scripts/DevExtremeBundle")

</head>
    <body>

        <div class="container-fluid h-100">

            <div class="row h-100">

                <div class="col-md-6 p-0 h-100 text-center justify-content-center">

                    <h1>

                        @ViewBag.AppName

                    </h1>

                </div>

                <div class="col-md-6 p-0 h-100 text-center justify-content-center">

                    @Html.Partial("_LoginPartial")

                </div>

            </div>

        </div>

        <div class="container-fluid h-100">

            <div class="row h-100">

                <div class="col-md-12 p-0 h-100">

                    <nav class="navbar navbar-expand-sm bg-light h-100 text-center justify-content-center">

                        <ul class="navbar-nav">
                            @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                            {
                                <li class="nav-item">

                                    <a class="nav-link" href="/Home/Index">Home</a>

                                </li>

                                <li class="nav-item">

                                    <a class="nav-link" href="/UserManagement/Index">User Management</a>

                                </li>

                                <li class="nav-item">

                                    <a class="nav-link" href="/Customer/Index">Customers</a>

                                </li>

                                <li class="nav-item">

                                    <a class="nav-link" href="/Status/Index">Status</a>

                                </li>

                                <li class="nav-item">

                                    <a class="nav-link" href="/Dock/Index">Docks</a>

                                </li>}

                        </ul>

                    </nav>

                </div>

            </div>

        </div>

        <div class="col-md-12">

            @RenderBody()

        </div>

    @Scripts.Render("~/bundles/myjs")

    @Scripts.Render("~/bundles/bootstrap")

    @RenderSection("scripts", required: false)

</body>
</html>
